
h1{color: rgb(43, 226, 153);}
p{color: brown;
    border: solid;
    width: 400px;
    height: 150px;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    margin-left: 100px;
    margin-top: 50px;

}